*,
*::before,
*::after{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom Variables */

:root{

    --primary: #322C2B;
    --secondary: white;
    --main-bg-color: rgb(151, 8, 8);
    --alternative: #102C57; 
    --mainBoxShadow: #F932A8;
    --awesome: pink;
    --borderColor: rgb(0, 130, 74);
    --elementShadow: .2vw .3vw .2vw #FFEBB2;
    --mainBg: gold;
    --bgImg: linear-gradient( to right, var(--awesome), var(--mainBg));
}




/* Examination number */

body {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 85%;
	background-color: white;
    text-align: center;
    margin: 0;
	padding: 0; }

#page {
	width: 750px;
    height: 420px;
	background-color: white;
	margin: 10px auto;
	border: 2px solid black;
	padding: 10px; }

#banner {
    color: var(--main-bg-color);
    font-weight: 700;
    margin: 1em;
	height: 70px }

#navigation {
	margin-top: 1em;
	height: 45px;
	background-color: white; }
	
#sidebar {
	width: 150px;
	height: 370px;
	background-color: white;
	margin-bottom: .7em;
	float: left; }

.copyright {
    font-size: 90%;
	margin: 60px; }
	
/* the styles for the table*/

caption {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 10px;
	font-size: 150%;
	color: #4766B8; }

td, th {
	border: 1px solid black;
	padding: .2em .7em;
	font-size: 95%; }	
	
.alignRight {
	text-align: right; }

    img[alt="img2"] {

        margin-left: 10rem;
    }

    img[alt="img3"] {

        margin-top: -9rem;
        height: 20rem;
    }